<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Type of Chart</ion-label>
    <ion-select (ionChange)="typeChanged($event)">
      <ion-select-option>Pie Chart</ion-select-option>
      <ion-select-option>Doughnut Chart</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Show legend</ion-label>
    <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
  </ion-item>
</ion-content>
