<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Type of Chart</ion-label>
    <ion-select [(ngModel)]="cfg.activeGraf">
      <ion-select-option value="pie">Pie Chart</ion-select-option>
      <ion-select-option value="line">Line Chart</ion-select-option>
      <ion-select-option value="all">Both Charts</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Show legend</ion-label>
    <ion-toggle [(ngModel)]="lcs.showLegend"></ion-toggle>
  </ion-item>

  <ion-button expand="block" (click)="gotoHome()">Apply</ion-button>
</ion-content>
